<a href="https://colab.research.google.com/github/sudo-lofi/AnaliseExploratoria/blob/main/notebooks_Projeto_Ciencia_de_dados'_Dataset_LimpezaDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro, devemos importar as bibliotecas que ser√£o utilizadas

In [2]:
import pandas as pd

%matplotlib inline

In [3]:
filmes_csv = 'Dataset/movies.csv'
ratings_csv = 'Dataset/ratings.csv'
tags_csv = 'Dataset/tags.csv'



filmes_df = pd.read_csv(filmes_csv)
ratings_df = pd.read_csv(ratings_csv)
tags_df = pd.read_csv(tags_csv)

In [4]:
filmes_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
filmes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

Vamos renomear o nome das colunas para ficar mais entendivel

In [6]:
filmes_df.rename(columns={'e (2016)': 'Nome', 'Crime|Drama': 'Genero'}).head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Juntando filmes com Ratings

In [7]:
df = filmes_df.merge(ratings_df,on=["movieId"])
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,4.0,1.113766e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,5.0,9.488858e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1.442169e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,4.0,1.370810e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22,4.0,1.237623e+09

In [28]:
df = df.rename(columns={'movieId':'Filme ID','title': 'Nome', 'genres': 'Genero', 'userId': 'ID Usu√°rio', 'rating': 'Nota'})

df.head()

,Filme ID,Nome,Genero,ID Usu√°rio,Nota
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,5.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,4.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22,4.0

In [25]:
df.isnull().sum()

Filme ID      0
Nome          0
Genero        0
ID Usu√°rio    0
Nota          0
dtype: int64

In [29]:
df.dropna(subset=['Nota'], inplace=True)