<a href="https://colab.research.google.com/github/sudo-lofi/AnaliseExploratoria/blob/main/notebooks_Projeto_Ciencia_de_dados'_Dataset_LimpezaDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro, devemos importar as bibliotecas que ser√£o utilizadas

In [44]:
import pandas as pd

%matplotlib inline

In [45]:
filmes_csv = 'Dataset/movies.csv'
ratings_csv = 'Dataset/ratings.csv'



filmes_df = pd.read_csv(filmes_csv)
ratings_df = pd.read_csv(ratings_csv)

In [46]:
filmes_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [26]:
filmes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

## Vamos renomear o nome das colunas para ficar mais entendivel

In [47]:
filmes_df = filmes_df.rename(columns={'title': 'Nome', 'genres': 'Genero'})

## Filtrar Generos
Iremos transformar a coluna Genero em seu proprio csv, para fazer a limpeza e analize.

In [48]:
filmes_df['Genero'].to_csv('Dataset/genero.csv', index=False)

Ler o csv e conferir se esta de acordo com o esperado

In [49]:
genero_df = pd.read_csv('Dataset/genero.csv')
genero_df

                                            Genero
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
58093                           (no genres listed)
58094                                       Comedy
58095                                        Drama
58096                Adventure|Drama|Horror|Sci-Fi
58097                           Action|Crime|Drama

[58098 rows x 1 columns]

In [ ]:
def split(pipe_string):
  list = []

In [15]:
genero_df['Genero'] = genero_df['Genero'].str.lower().str.split("|")
genero_df['Genero']

AttributeError: ignored

## Renomeando as colunas do novo dataset conjunto

In [6]:
df = df.rename(columns={'movieId':'Filme ID','title': 'Nome', 'genres': 'Genero', 'userId': 'ID Usu√°rio', 'rating': 'Nota'})

df

,Filme ID,Nome,Genero,ID Usu√°rio,Nota,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,4.0,1.113766e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,5.0,9.488858e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1.442169e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,4.0,1.370810e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22,4.0,1.237623e+09
...,...,...,...,...,...,...
859598,193595,The Land of Steady Habits (2018),Comedy|Drama,2768,3.5,1.537313e+09
859599,193599,Climax (2018),Drama|Horror,2069,4.5,1.537717e+09
859600,193793,Empowered (2018),Comedy,4871,2.0,1.537629e+09
859601,193843,Raazi (2018),Action|Drama|Thriller,4226,4.0,1.537787e+09
859602,193861,Cold Harvest (1998),Action|Sci-Fi|Thriller,1686,3.0,1.537817e+09

## Procurando por linhas com valores nulos

In [7]:
df.isnull().sum()

Filme ID      0
Nome          0
Genero        0
ID Usu√°rio    0
Nota          1
timestamp     1
dtype: int64

## Removendo linhas com valores nulos
Por meio de analize observamos que a coluna as notas possue um valor nulo, portanto, iremos remove-lo.

In [8]:
df.dropna(subset=['Nota'], inplace=True)

## Juntando o dataset de filmes com dataset de notas

In [22]:
df = filmes_df.merge(ratings_df,on=["movieId"])
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,4.0,1113765937
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,5.0,948885850
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1442169375
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,4.0,1370810063
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22,4.0,1237622631
...,...,...,...,...,...,...
5296598,193843,Raazi (2018),Action|Drama|Thriller,4226,4.0,1537786928
5296599,193859,"You, Me and Him (2018)",Comedy,30511,3.0,1537820678
5296600,193861,Cold Harvest (1998),Action|Sci-Fi|Thriller,1686,3.0,1537816652
5296601,193866,Tales from the Hood 2 (2018),Horror,19924,1.0,1537838181
5296602,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,33330,2.0,1537890512